<!DOCTYPE html>
<html>
<head>
	<title>Meme Tube</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">
</head>
<body>
	<a href="/videos"><h1 id="logo">Meme Tube</h1></a>
	<%= yield %>
</body>
</html>